.title {
  font-size: 26px;
  font-weight: 900;
  font-family: Greycliff CF, var(--mantine-font-family);
}

.controls {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) { /* This is equivalent to Mantine's xs breakpoint */
  .controls {
    flex-direction: column-reverse;
  }
}

.control {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .control {
    width: 100%;
    text-align: center;
  }
}
